/* General
----------------------------------------------------------------------------- */

* {
    padding: 0;
    border: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background: url(../images/background-images/pexels-pixelcop-2680270.jpg);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.hide-content {
    display: none;
}

/* Navigation 
----------------------------------------------------------------------------- */

#navbar {
    display: flex;
    position: sticky;
    justify-content: space-between;
    background-color: none;
}

#navbar h1 {
    font-family: "Anton", sans-serif;
    font-size: 2.5rem;
    font-weight: 900;
    padding: 5px;
    color: darkblue;
    /* background-color: rgba(255, 255, 255, 0.5) */
}

.title-border {
    -webkit-text-stroke: rgb(11, 148, 102) 0.1px;
}

#navbar span {
    display: flex;
    align-items: center;
    margin: 10px;
}

/* Navbar media queries
----------------------------------------------------------------------------- */

@media screen and (min-width: 700px) {
    #navbar h1 {
        font-size: 3.5rem;
    }
}

@media screen and (min-width: 950px) {
    #navbar {
        justify-content: center;
    }

    #title-span {
        padding-right: 100px;
    }

    
}

@media screen and (min-width: 1400px) {
    #navbar h1 {
        font-size: 5rem;
    }
}

/* How To Play Button
----------------------------------------------------------------------------- */

#how-to-play-button {
    cursor: pointer;
    padding: 5px;
    border-radius: 5%;
    background-color: rgba(255, 255, 255, 0.5)
}

#how-to-play-button h2 {
    font-family: "Anton", sans-serif;
    font-size: 1.7rem;
    color: darkblue;
}

/* How To Play Button media queries
----------------------------------------------------------------------------- */

@media screen and (min-width: 700px) {
    #how-to-play-button {
        height: 60px;
    }

    #how-to-play-button h2 {
        font-size: 3rem;
    }
}

@media screen and (min-width: 950px) {
    #how-to-play-span {
        padding-left: 100px;
    }
}

@media screen and (min-width: 1400px) {
    #how-to-play-button {
        height: 60px;
    }

    #how-to-play-button h2 {
        font-size: 3.5rem;
    }
}

/* How To Play Modal
----------------------------------------------------------------------------- */

.modal {
    background-color: white;
    opacity: 0.7;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 375px;
    width: 300px;
    border: 2px solid aquamarine;
}

#modal-header h2 {
    font-family: "Anton", sans-serif;
    font-size: 1.7rem;
    color: darkblue;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}

#modal-body {
    padding: 5px;
}

#modal-body p {
    text-align: center;
    line-height: 1.5;
}

/* .close {
    cursor: pointer;
    font-size: 45px;
    float: right;
    position: relative;
    
    height: 25px;
    width: 25px;
} */

#close-btn-container {
    display: flex;
    justify-content: center;
}

.close-btn {
    cursor: pointer;
    font-size: 1.3rem;
    padding: 10px;
    margin-top: 10px;
    position: relative;
}

/* How To Play Modal media queries
----------------------------------------------------------------------------- */

@media screen and (min-width: 1300px) {
    .modal {
        height: 500px;
        width: 400px;
    }

    #modal-header h2 {
        font-size: 2.8rem;
        padding-top: 20px;
    }

    #modal-body p {
        font-size: 1.3rem;
        padding-bottom: 20px;
    }

    .close-btn {
        font-size: 1.5rem;
    }
}

/* Home Page Welcome Box
----------------------------------------------------------------------------- */

#welcome-container {
    background-color: white;
    opacity: 0.5;
    border: 2px aquamarine solid;
    position: relative;
    top: 100px;
    height: 200px;
    width: 425px;
    margin: 0 auto;
    margin-top: 10px;
}

#welcome-container p, h2 {
    text-align: center;
    line-height: 1.5rem;
}

#welcome-container h2 {
    font-family: "Anton", sans-serif;
    color: darkblue;
    padding-top: 10px;
    padding-bottom: 10px;
}

#welcome-container p {
    letter-spacing: 1px;
}

/* Home Page Welcome Box media queries
----------------------------------------------------------------------------- */

@media screen and (min-width: 1400px) {
    #welcome-container {
        height: 300px;
        width: 600px
    }

    #welcome-container h2 {
        font-size: 2.7rem;
        padding-top: 10px;
        padding-bottom: 25px;
    }

    #welcome-container p {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }
}

/* Play Button
----------------------------------------------------------------------------- */

#btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
}

#play-btn {
    height: 75px;
    padding: 10px;
    cursor: pointer;
    border: 2px aquamarine solid;
    background: #ffffff;
    opacity: 0.5;
    z-index: 0;
}

#play-btn h2 {
    font-family: "Anton", sans-serif;
    font-size: 4rem;
    color: darkblue;
}

/* Play Button media queries
----------------------------------------------------------------------------- */

@media screen and (min-width: 700px) {
    #play-btn  {
        height: 100px;
        width: 175px;
    }

    #play-btn h2 {
        font-size: 4.5rem;
        letter-spacing: 5px;
    }
}

@media screen and (min-width: 950px) {
    #play-btn {
        height: 100px;
        width: 175px;
    }

    #play-btn h2 {
        font-size: 5rem;
    }
}

/* Game Area
----------------------------------------------------------------------------- */

#game-area {
    height: 75vh;
    flex-direction: column;
}

/* #computer-area {
    height: 150px;
    display: flex;
}

#computer-turn {
    background-color: #d32626;
    opacity: 50%;
    height: 100px;
    width: 75px;
    margin: 25px auto; */
/* } */

.choice-cards {
    height: 125px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
}

.choice-cards h2 {
    -webkit-text-stroke: rgb(11, 148, 102) 1px;
}

.card {
    background-color: none;
    height: 75px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}

.card10, .card11, .card12 {
    width: 50px;
}

.single-digit {
    font-family: "Anton", sans-serif;
    font-weight: 300;
    font-size: 5.5rem;
    color: darkblue;
}

.double-digit {
    font-family: "Anton", sans-serif;
    font-weight: 300;
    font-size: 5rem;
    color: darkblue;
}

.player-card-highlight {
    border: 10px solid green;
}

.card-highlight {
    border: 10px solid red;
}

/* Game Area media queries
----------------------------------------------------------------------------- */

@media screen and (min-width: 700px) {
    .choice-cards {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .single-digit {
        font-size: 6rem;
    }

    .double-digit {
        font-size: 5.5rem;
    }

    .player-card-highlight {
        border: 15px solid green;
    }

    .card-highlight {
        border: 15px solid red;
    }
}

@media screen and (min-width: 950px) {
    .choice-cards {
        width: 60%;
    }
}

@media screen and (min-width: 1300px) {
    .choice-cards {
        width: 50%;
    }
}

/* Score Area
----------------------------------------------------------------------------- */

#score-area {
    background-color: white;
    opacity: 0.3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    border: 1px solid aquamarine;
}

#score {
    text-align: end;
    padding-right: 10%;
}

#hi-score {
    padding-left: 5%;
}

/* Score Area media queries
----------------------------------------------------------------------------- */

@media screen and (min-width: 950px) {
    #score-area {
        width: 65%;
    }
}

@media screen and (min-width: 1300px) {
    #score-area {
        width: 55%;
    }
}

/* Game Over Page
----------------------------------------------------------------------------- */

#game-over-screen {
    height: 400px;
    width: 300px;
    background-color: white;
    border: 2px aquamarine solid;
    opacity: 0.5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}

.game-over-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.game-over-container h3 {
    margin: 10px;
}

#game-over-text {
    font-family: "Anton", sans-serif;
    font-size: 2rem;
    color: darkblue;
    margin: 25px;
    padding-top: 20px;
}

#try-again {
    position: relative;
    margin: 0 auto;
    height: 125px;
    width: 130px;
    top: 70px;
    font-size: 1.5rem;
    border: 2px solid aquamarine;
}

/* Game Over Page media queries
----------------------------------------------------------------------------- */

@media screen and (min-width: 750px) {
    #game-over-text {
        font-size: 2.5rem;
    }

    .game-over-container h3 {
        font-size: 1.6rem;
    }
}

@media screen and (min-width: 1300px) {
    #game-over-screen {
        height: 500px;
        width: 400px;
    }

    #game-over-text {
        font-size: 4rem;
        padding-top: 30px;
    }

    .game-over-container h3 {
        font-size: 2rem;
    }

    #try-again {
        height: 150px;
        width: 165px;
    }
}

/* Footer 
----------------------------------------------------------------------------- */

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 25px;
    background-color: none;
    text-align: center;
}

#footer p {
    color: white;
}

/* Hover.css external code
----------------------------------------------------------------------------- */

.hvr-bounce-to-top {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
.hvr-bounce-to-top:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098D1;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-bounce-to-top:hover, .hvr-bounce-to-top:focus, .hvr-bounce-to-top:active {
    color: white;
  }
  .hvr-bounce-to-top:hover:before, .hvr-bounce-to-top:focus:before, .hvr-bounce-to-top:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  }