* {
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    background-color: black;
}

/* Navigation 
----------------------------------------------------------------------------- */

#navbar {
    display: flex;
    position: sticky;
    justify-content: space-between;
    background-color: white;
    height: 50px;
}

#navbar span {
    display: flex;
    align-items: center;
    margin: 10px;
}

/* Game Area
----------------------------------------------------------------------------- */

#game-area {
    height: 75vh;
    display: flex;
    flex-direction: column;
}

#computer-area {
    height: 150px;
    display: flex;
}

#computer-turn {
    background-color: #d32626;
    height: 100px;
    width: 75px;
    margin: 25px auto;
}

.choice-cards {
    height: 100px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
}

.card {
    background-color: green;
    height: 75px;
    width: 40px;
    display: inline-block;
}

.container {
    display: flex;
    justify-content: center;
}

#play-btn {
    font-size: 1.5rem;
    padding: 5px;
    margin: 10px;
}

#score-area {
    background-color: yellow;
}

#score-area h3 {
    text-align: end;
    padding-right: 10%;
}

/* Footer 
----------------------------------------------------------------------------- */

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 25px;
    background-color: blue;
    text-align: center;
}

#footer p {
    color: white;
}

