/* General
----------------------------------------------------------------------------- */

* {
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.hide-content {
    display: none;
}

/* Navigation 
----------------------------------------------------------------------------- */

#navbar {
    display: flex;
    position: sticky;
    justify-content: space-between;
    background-color: white;
    height: 50px;
}

#navbar span {
    display: flex;
    align-items: center;
    margin: 10px;
}

/* How To Play Button
----------------------------------------------------------------------------- */

#how-to-play-button {
    cursor: pointer;
}

/* How To Play Modal
----------------------------------------------------------------------------- */

.modal {
    background-color: white;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 300px;
    width: 300px;
}

#modal-header h2 {
    text-align: center;
}

#modal-body p {
    text-align: center;
}

/* .close {
    cursor: pointer;
    font-size: 45px;
    float: right;
    position: relative;
    
    height: 25px;
    width: 25px;
} */

#close-btn-container {
    display: flex;
    justify-content: center;
}

.close-btn {
    cursor: pointer;
    font-size: 1.3rem;
    padding: 10px;
    margin-top: 10px;
}

/* Home Page Welcome Box
----------------------------------------------------------------------------- */

#welcome-container {
    background-color: white;
    position: relative;
    top: 100px;
    height: 100px;
    width: 300px;
    margin: 0 auto;
}

#welcome-container p {
    text-align: center;
}

/* Play Button
----------------------------------------------------------------------------- */

#btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
}

#play-btn {
    font-size: 4rem;
    padding: 10px;
}

/* Game Area
----------------------------------------------------------------------------- */

#game-area {
    height: 75vh;
    flex-direction: column;
}

/* #computer-area {
    height: 150px;
    display: flex;
}

#computer-turn {
    background-color: #d32626;
    opacity: 50%;
    height: 100px;
    width: 75px;
    margin: 25px auto; */
/* } */

.choice-cards {
    height: 100px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
}

.card {
    background-color: green;
    height: 75px;
    width: 40px;
    display: inline-block;
    cursor: pointer;
}

.card-highlight {
    border: 10px solid red;
}

#score-area {
    background-color: yellow;
    display: flex;
    justify-content: space-between;
}

#score {
    text-align: end;
    padding-right: 10%;
}

#hi-score {
    padding-left: 5%;
}

/* Game Over Page
----------------------------------------------------------------------------- */

#game-over-screen {
    height: 300px;
    width: 300px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}

.game-over-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.game-over-container h3 {
    margin: 10px;
}

#game-over-text {
    margin: 25px;
}

#try-again {
    height: 125px;
    width: 130px;
    top: 20px;
    font-size: 1.5rem;
}

/* Footer 
----------------------------------------------------------------------------- */

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 25px;
    background-color: blue;
    text-align: center;
}

#footer p {
    color: white;
}

